.chatbox{
    width: 99%;
  height: 88vh;
  margin-top: 76px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 6px #00000029;
border: 10px solid #0F81C7;
border-radius: 2px;
overflow: auto;
opacity: 1;
}
.box{
 width: 98%;
 margin-top: 30px;
  overflow: hidden;
}
.inputdiv{
  margin-left: 20px;
  width: 90%;
  margin-right: 20px;
}
.emojibox{
 width: 100%;
 height: 60px;
  overflow: hidden;
}
.emojirow{
  display: flex;
  flex-direction: row;
}
.theemojileftbox{
  width: 90%;
  height:55px;
  float:left;
  display: grid;
  place-items:center;
  position: relative;

}
.theemojirightbox{
  width: 10%;
  height:60px;
  margin-top: 10px;
  float:right;
  position: relative;

}
.theleftbox{
  width: 40%;
  height:55vh;
  float:left;
  position: relative;

}
.therightbox{
  width: 55%;
  height:51vh;
  float:right;
  position: relative;
  display: flex;
  margin-right:10px ; 
  flex-direction: column-reverse;
  border: 5px solid #0F81C7;
  border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
}
.chatround{
  width: 100%;
height: 60px;
display: grid;
  place-items:center;

background: #0F81C7 0% 0% no-repeat padding-box;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;

opacity: 1}
.chatheadertext{
  text-align: left;
font: normal normal normal 38px/46px Lato;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.chathome{
  display:grid;
  overflow: hidden;
  background-color: #535353;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 768px) {
   .theleftbox{
    width: 100%;
  }
  .therightbox{
    display: none;
  }
  .chatround{
     height: 0px;
  }
  .chatbox{
    border-radius: 0px;

   }
}