.profhome{
	display:grid;
  overflow: hidden;
	place-items:center;
	background-color: white;
	height: 100vh;
	width: 100%;
}
.profbox{
  width: 1050px;
  height: 540px;
  overflow: auto;;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 6px #00000029;
border: 10px solid #0F81C7;
padding-bottom: 10px;
border-radius: 40px;
opacity: 1;
}
.profround{
  width: 100%;
height: 60px;
display: grid;
  place-items:center;

background: #0F81C7 0% 0% no-repeat padding-box;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
opacity: 1;
}
.profheadertext{
  text-align: left;
font: normal normal normal 28px/30px Lato;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.pbox{
 width: 98%;
 margin-top: 30px;
 margin-left: 10px;
 display: flex;
  overflow: hidden;
}
.profimg{
  margin-top: 14px;
margin-left: 40px;
width: 240px;
height: 240px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
.img{
  margin-top: 330px;
margin-left: 469px;
width: 108px;
height: 108px;
border-radius: 120px;
background: #000000 0% 0% no-repeat padding-box;
opacity: 1;
}
.bio{
  top: 540px;
left: 403px;
width: 240px;
height: 133px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
@media only screen and (max-width: 1025px) {
  .profround{
    display: none;

  }
  .profbox{
    width: 100%;
    border-radius: 40px;

   }
}