.profhome{
	display:grid;
  overflow: hidden;
  background-color: #00000029;

	height: 100vh;
	width: 100%;
}
.proscreen{
  display:grid;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.divs{
  display: flex;
  flex-direction: column;
  width:60vw;
  padding-right: 14px;
  padding-bottom: 30px;
     padding-left: 14px;
  overflow-y: auto;
  height: 90%;
}
.tabs{
  display: flex;
  flex-direction: column;
  width:50vw;
  padding-right: 14px;
  padding-bottom: 30px;
     padding-left: 14px;
  overflow-y: auto;
  height: 90%;
}
.tab{
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-left: 60px;
}
.buttns{
  width: 100%;
  height: 100%;
  font-size: 100px;
  background-color: #00000029;
  display: grid;
  place-items:center;
}
.columnx{
  display: flex;
    margin-top: 18px;
 
  flex-direction: column;
}
.profbox{
  width: 99%;
  height: 88vh;
    background-color: #00000029;

  margin-top: 76px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 6px #00000029;
border: 10px solid #0F81C7;
opacity: 1;
}
.profilebox{
 width: 99%;
  height: 88vh;
  margin-top: 76px;
  overflow-x: scroll;
    background-color: #00000029;

  overflow-y: scroll;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 6px #00000029;
border: 10px solid #0F81C7;
padding-bottom: 10px;
border-radius: 2px;
opacity: 1;
}

.profround{
  width: 100%;
height: 60px;
display: grid;
  place-items:center;

background: #0F81C7 0% 0% no-repeat padding-box;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
opacity: 1;
}
.profheadertext{
  text-align: left;
font: normal normal normal 28px/30px Lato;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.summary{
    text-align: left;
font: normal normal normal 18px/20px Lato;
letter-spacing: 0px;
color: black;
opacity: 1;
}
.username{
   text-align: left;
   margin-top: 40px;
font: normal normal normal 24px/25px Lato;
letter-spacing: 0px;
}
.userdet{
  margin-left: 10px;
  width: 100%;
  height: auto;
}
.aboutsec{
  text-align: center;
font: normal normal normal 21px/21px Lato;
margin-top: 10px;
letter-spacing: 0px;
opacity: 1;
}
.biotext{
  text-align: left;
font: normal normal normal 24px/25px Lato;
margin-top: 4px;
margin-left: 5px;
letter-spacing: 0px;
color: black;
opacity: 1;
}
.settingheader{
  text-align: left;
font: normal normal normal 21px/22px Lato;
 height:40px;
 display: flex;
 flex-direction: row;
 align-content: flex-end;
margin-top: 24px;
margin-left: 5px;
letter-spacing: 0px;
color: black;
opacity: 1;
}
.rowx{
  display: flex;
  flex-direction: row;
}
.lntext{
  text-align: left;
font: normal normal normal 20px/22px Lato;
margin-top: 9px;
margin-left: 5px;
letter-spacing: 0px;
color: black;
opacity: 1;
}
.iconbt{
  margin-left: 7px;
  height: 59px;
  background-color: #FFFFFF;
  border-radius: 0px;
}
.reach{
  margin-left: 7px;
  background-color: #0F81C7;
  display: grid;
  padding-left: 4px;
  color: white;
  padding-right: 4px;
  place-items:center;
  font: normal normal normal 15px/16px Lato;

  height: 59px;
}
.ident{
  margin-top: 6px;
    font: normal normal normal 17px/18px Lato;

}
.identi{
  margin-top: 6px;
  margin-left: 14px;
   width: 140px;
    font: normal normal normal 17px/18px Lato;

}
.identih{
  margin-top: 6px;
  margin-left: 14px;
   width: 200px;
    font: normal normal normal 17px/18px Lato;

}
.identih2{
  margin-top: 6px;
  margin-left: 14px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
    font: normal normal normal 17px/18px Lato;

}
.setedit{
    outline: none;
    margin-top: 3px;
    height: 45px;
    width: 100%;
        text-align: center;

    display: flex;
    border-color: #707070;
}
.iconpl{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.gentext{
  text-align: left;
font: normal normal normal 18px/20px Lato;
margin-top: 9px;
margin-left: 5px;
letter-spacing: 0px;
color: black;
opacity: 1;
}
.pbox{
 width: 99%;
 margin-top: 6px;
 
 margin-left: 1px;
 display: flex;
 flex-direction: row;
  overflow: hidden;
}
.toppro{
  display: grid;
  place-items:center;
  width:100%;
  height: 30%;
}
.probox{
 width: 99%;
 margin-top: 6px;
 
 margin-left: 2px;
 display: flex;
 flex-direction: column;
  overflow: hidden;
}
.rightsett{
   display: flex;
   width: 100%;
   height: 90vh;
}
.profimg{
  margin-top: 10px;
margin-left: 40px;
width: 350px;
height: 220px;
display: flex;
flex-direction: column;
place-items:center;
background: #FFFFFF 0% 0% no-repeat padding-box;

}
.settings{
width: 300px;
height: 88vh;
display: flex;
padding-top: 6px;
flex-direction: column;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #0F81C7;
opacity: 1;
}
.settingshid{
width: 100%;
height: 100vh;
display: flex;
padding-top: 6px;
flex-direction: column;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #0F81C7;
opacity: 1;
}
.biop{
margin-left: 40px;
width: 350px;
height: auto;
display: flex;
flex-direction: column;
margin-top: 50px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.accountsbox{
  margin-top: 10px;
width: 520px;
padding-right:10px;
height: 100px;
display: grid;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
.featured{
  margin-top: 10px;
margin-left: 40px;
width: 280px;
height: 120px;
display: grid;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
.nameset{
  margin-top: 10px;
margin-left: 40px;
display: flex;
flex-direction: column;
padding-left: 8px;
padding-right: 8px;
width: 280px;
height: 440px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}

.general{
  margin-top: 10px;
margin-left: -40px;
width: 290px;
height: 220px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
.imge{
  margin-top: 5px; 
  margin-left: 30px;
  height: 250px;
  width: 250px;
  border-radius: 180px;

}
.img{
  margin-top: 3px;
margin-left: 9px;
width: 10px;
height: 10px;
border-radius: 120px;
opacity: 1;
}
.placebtn{
  display: flex;
  flex-direction: column;
  margin-left: 70%;
  margin-top: 10px;
}
.bio{
  top: 540px;
left: 403px;
width: 240px;
height: 133px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
  .inputedit{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
   }
     .inputedits{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
   }
     .settingshid2{
         display: none;
   }
   .rows{
    display: flex;
    flex-direction: row;
  }
@media only screen and (max-width: 1025px) {
  .profround{
    display: none;

  }
  .tabs{
  width:90vw;
  
}
  .profilebox{
    width: 100%;
    border-radius: 40px;
    border-radius: 0px;
    height: 100%;

   }
   .identih2{
     margin-top: 8px;
   }
    .profimg{
     width: 98%;
   }
  .identi{
    margin-left: 0px;
  }
  .rightsett{
     width: 100%;
  }
  .pbox{
    flex-direction: column;
   }
   .settings{

     width: 100%;
   }
   .profbox{
     margin-top: 140px;
     border: 5px solid #0F81C7;

   }
   .accountsbox{
    height: auto;
   }
    .rowx{
    flex-direction: column;

   }
   .tab{
      width:90%;
      margin-left: 4px;
   }
   .biop{
     margin-left: 3px;
   }
   .divs{
     width:60%;
     padding-left: 2px;
     padding-bottom: 26px;
     overflow-y: auto;
   }
  
    @media (max-width: 1025px) and (min-width: 599px){
     .divs{
     width: 60vw;
     }
    }
   .inputedit{
    display: flex;
    flex-direction: column;
   }
 
   .profimg{
     width: 98%;
   }
   .biop{
     width: 98%
   }
   .general{
         width: 99%

   }
   .accountsbox{
    width: 98%;
   }
   .featured{
    width: 98%;
   }
  .profbox{
    width: 100%;
    border-radius: 40px;
    border-radius: 0px;
    height: 100%;

   }
   .nameset{
     width: 98%;
   }
}