.jobbox{
     width: 99%;
  height: 88vh;
  margin-top: 76px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 6px #00000029;
border: 10px solid #0F81C7;
border-radius: 2px;
overflow: auto;
opacity: 1;
}
.promojname{
  text-align: right;
  margin-left: 35px;
  margin-top: 30px;
font: normal normal normal 20px/25px Lato;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.jobroundsmall{
  width: 100%;
height: 75px;
display: none;
  place-items:center;

background: #FFFF 0% 0% no-repeat padding-box;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
opacity: 1;
}
.jobround{
  width: 100%;
height: 60px;
display: grid;
  place-items:center;

background: #0F81C7 0% 0% no-repeat padding-box;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
opacity: 1;
}
.joblistdiv{
 width: 90%;
height: 93px;
display: flex;
margin-right: 50px;
margin-left: 40px;
flex-direction: row;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 4px solid #0F81C7;

border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
opacity: 1;
}
.joblistdivexplore{
 width: 90%;
height: auto;
display: flex;
margin-right: 50px;
margin-left: 40px;
flex-direction: column;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 4px solid #0F81C7;

border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
opacity: 1;
}
.jobheadertext{
    text-align: left;
font: normal normal normal 28px/30px Lato;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.jobhome{
	display:grid;
  overflow: hidden;
	place-items:center;
	background-color: white;
	height: 100vh;
	width: 100%;
}
@media only screen and (max-width: 1025px) {
  .jobround{
    display: none;
  }
    .jobroundsmall{
     display: grid;
  }
    .joblistdivexplore{
     margin-right: 0px;
    margin-left: 0px;
    width: 99%;
    height: auto;
     margin-right: 0px;
    margin-left: 0px;

}
  .joblistdiv{
    margin-right: 0px;
    margin-left: 0px;
    width: 99%;
  }
  .jobbox{
  width: 100%;
  height:100%;
  border-radius: 4px;

}
}