.jobbox{
  width: 920px;
  height: 528px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 6px #00000029;
border: 10px solid #0F81C7;
border-radius: 40px;
opacity: 1;
}
.jobround{
  width: 100%;
height: 98px;
display: flex;
flex-direction: row;
background: #0F81C7 0% 0% no-repeat padding-box;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
opacity: 1;
}
.jobheadertext{
  text-align: left;
  align-self: center;
  margin-left: 30px;
font: normal normal normal 38px/46px Lato;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.jobhome{
	display:grid;
  overflow: hidden;
	place-items:center;
	background-color: white;
	height: 100vh;
	width: 100%;
}
@media only screen and (max-width: 768px) {
  .jobround{
    display: none;
  }
  .jobbox{
  width: 100%;
  height: 100%;
  border-radius: 4px;

}
}