.home{
	display:grid;
  overflow: hidden;
	background-color: #535353;
  display: flex;
  flex-direction: column;
	min-height: 100vh;
	width: 100%;
}
.colic{
  height: 30px;
  width:  60px;
  margin-left: 9px;
  display: flex;
  place-items:center;
    box-shadow: 2px 2px  2px 2px #888888;

}
.bottomdiv{
    display:flex;
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 60px;
  overflow: hidden;
  margin-left:30px;
  height: 40px;

}
.moneyside{
    width: 45%;
  float:left;
    display:flex;
    flex-direction: row;
  border-right: 2px solid #0F81C7;


}
.textmon{
  text-align: left;
      margin-left: 6px;
 margin-top: 6px;
font: normal normal normal 23px/28px Lato;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.groupside{
    width: 30%;
  float:right;
  align-content: center;
   display:flex;
    flex-direction: row;


}
.WelcomeBox{
  width: 100%;
  overflow: hidden;
}
.WelcomeleftBox{
  width: 20%;
  height:100vh;
  float:left;
  position: relative;

}
.textc{
  text-align: right;
font: normal normal normal 15px/16px Lato;
letter-spacing: 0px;
max-height: 270px;
max-width: 65%;
padding-left: 10px;
margin-top:20px;
color: #000000;
opacity: 1
}
.sudo{
  margin-right: 30px;
font: normal normal normal 40px/45px Lato;
letter-spacing: 0px;
color: #0F81C7;
opacity: 1;
}
.table{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.promoname{
  text-align: right;
  margin-left: 20px;
      align-self: center;

font: normal normal normal 20px/25px Lato;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.placend{

}
.homelistdiv{
  width: 100%;
height: 99px;
display: flex;
flex-direction: row;
margin-right: 50px;
margin-left: 40px;
 background: #FFFFFF 0% 0% no-repeat padding-box;
border: 4px solid #0F81C7;

opacity: 1;
}
.linkbutton{
   width: 129px;
   height: 40px;
   border-radius: 10px;
   font-size: 18px;
letter-spacing: 0px;
   display: flex;
     color: white;
     padding: 12px 16px; /* Some padding */
    outline: none;
        text-align: center;

   flex-direction: row;
   margin-top: 12px;
  background: #C70F0F 0% 0% no-repeat padding-box;
}
.WelcomerightBox{
  width: 80%;
  height:100vh;
  float:right;


}
.ctextc{
   font-size: 18px;
   margin-top:20px;
}
.thebox{
  width: 99%;
  height: 88vh;
  margin-top: 76px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 6px #00000029;
border: 10px solid #0F81C7;
border-radius: 2px;
overflow: auto;
opacity: 1;
}
.smallwidth{
  display: none;
}
.line{
  border: 1px solid #0F81C7;
margin-right: 10px;
margin-top: 10px;
align-self: flex-end;

}
.smallcontainer{
    width: 90%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    background: red 0% 0% no-repeat padding-box;

}
.cardsx{
    width: 30%;
    height: auto;
display: grid;place-items:center;    color: white;
    margin-left: 20px;
    border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
margin-top: 20px;
    margin-right: 20px;
 background-image:
     radial-gradient(
      circle at top right,
      yellow,
      #f06d06
    );
}
.cardsxd{
    width: 50%;
    min-height: 150px;
    height: auto;
display: grid;place-items:center;    color: white;
    margin-left: 20px;
    border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
margin-top: 20px;
    margin-right: 20px;
 background-image:
     radial-gradient(
      circle at top right,
      yellow,
      #f06d06
    );
}
.cardsxe{
    width: 94%;
    min-height: 150px;
    height: auto;
display: grid;place-items:center;    color: white;
    margin-left: 20px;
    border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
margin-top: 20px;
    margin-right: 20px;
 background-image:
     radial-gradient(
      circle at top right,
      #0F81C7,
      orange
    );
}
.rowsz{
  display: flex;
  flex-direction: row;
}
.cardsxen{
    width: 94%;
    min-height: 150px;
    height: auto;
    margin-left: 20px;
    border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
margin-top: 20px;
    margin-right: 20px;
 background-image:
     radial-gradient(
      circle at top right,
      #0F81C7,
      orange
    );
}
.cardsxc{
    width: 30%;
    height: auto;
display: grid;place-items:center;    color: white;
    margin-left: 20px;
    border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
margin-top: 20px;
    margin-right: 20px;
 background-image:
     radial-gradient(
      circle at top right,
      blue,
      #f06d06
    );
}
.cardtext{
  font: normal normal normal 23px/30px Lato;

}
.cardtextb{
  font: normal normal normal 18px/30px Lato;

}
.homelistdivexplore{
  width: 98%;
height: auto;
display: flex;
flex-direction: column;
margin-right: 50px;
margin-left: 40px;
box-shadow: 0 0 5px 5px #00000029;

background: #b3b3b3 0% 0% no-repeat padding-box;
padding-bottom: 10px;


opacity: 1;
}
.linkin{
     width: 22vw;
     display: flex;
     flex-direction: column;

}
.inputLinked{
    border-radius: 25px;
    outline: all;
    height: 35px;
    width: 100px;
        text-align: center;
    display: flex;
    border-color:black;
}
.accountsrow{
	display: flex;
	flex-direction: row;
  margin-left: 120px;
	margin-top: 20px;
}
.accounticon{
   height: 35px;
   width:38px;
}
.bgBlue{
  width: 100%;
  height: 100%;
  background-color:#0F81C7;
}
.bgWhite{
  width: 100%;
  height: 100%;
  display: grid;
  place-items:center;
  background-color:white;
}
.headertext{
  text-align: left;
font: normal normal normal 28px/30px Lato;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.round{
 width: 100%;
height: 63px;
display: grid;
  place-items:center;

background: #0F81C7 0% 0% no-repeat padding-box;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;

opacity: 1;
}
.roundsmall{
  width: 100%;
height: 75px;
display: none;
  place-items:center;

background: #FFFF 0% 0% no-repeat padding-box;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;

opacity: 1;
}
.welcometext{
	text-align: center;
font: normal normal normal 85px/102px Lato;
letter-spacing: 0px;
margin-left: 15px;
color: #0F81C7;
opacity: 1;
}
.linktext{
	text-align: left;
  margin-top: 15;
font: normal normal normal 22px/27px Lato;
letter-spacing: 0px;
color: #0F81C7;
opacity: 1;
}

.iconex{
   height: 20px;
   width:30px;
   margin-top: -1px;
}
.arrow{
    align-self: center;
    margin-right: -5px;
    
  }
  .large{
    display: flex;
    margin-left: -160px;
  }
  .buttonsexpandblue{
   width: 105px;
   height: 42px;
   border-radius: 10px;
   margin-top: 25px;
   font-size: 18px;
letter-spacing: 0px;
   display: grid;
   place-items:center;
       outline: none;

     color: white;
     padding: 12px 16px; /* Some padding */
   flex-direction: row;
  background: #0F81C7 0% 0% no-repeat padding-box;
}
.buttonsexpandred{
   width: 105px;
   height: 42px;
   border-radius: 10px;
   margin-left: 1px;
   margin-top: 25px;
   font-size: 18px;
letter-spacing: 0px;
       outline: none;
display: grid;
   place-items:center;
     color: white;
     padding: 12px 16px; /* Some padding */
   flex-direction: row;
  background: #C70F0F 0% 0% no-repeat padding-box;
}
.buttonsexpandgreen{
   width: 105px;
   height: 42px;
   border-radius: 10px;
   margin-left: 10px;
   margin-top: 25px;
   font-size: 18px;
letter-spacing: 0px;
       outline: none;
       place-items:center;
display: grid;
   place-items:center;
     color: white;
     padding: 10px 16px; /* Some padding */
   flex-direction: row;
  background:green 0% 0% no-repeat padding-box;
}
@media only screen and (max-width: 568px) {

  .promoname{
    margin-left: 40;
  }

}
 .homelistdivexplore{
   margin-right: 0px;
    margin-left: 0px;
    width: 100%;
 }
.buttonsexpandblue{
   width: 105px;
   height: 42px;
   border-radius: 10px;
   margin-left: 300px;
   margin-top: 25px;
   font-size: 18px;
letter-spacing: 0px;
   display: flex;
       outline: none;

     color: white;
     padding: 12px 16px; /* Some padding */
   flex-direction: row;
  background: #0F81C7 0% 0% no-repeat padding-box;
}
.buttonsexpandred{
   width: 105px;
   height: 42px;
   border-radius: 10px;
   margin-left: 10px;
   margin-top: 25px;
   font-size: 18px;
letter-spacing: 0px;
   display: flex;
       outline: none;

     color: white;
     padding: 12px 16px; /* Some padding */
   flex-direction: row;
  background: #C70F0F 0% 0% no-repeat padding-box;
}
.rowe{
  display: flex;
  flex-direction: row;
}
.expromo{
  text-align: left;
  margin-left: 50px;
  margin-top: 20px;
font: normal normal normal 20px/25px Lato;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.hidebutton{
  display: flex;
}
.hidebutton2{
  display: none;
}

@media only screen and (max-width: 1025px) {
  .smallwidth{
    display: flex;
    flex-direction: row;
  }
  .large{
    display: none;
  }
  .textmon{
    font: normal normal normal 20px/25px Lato;

  }
  .hidebutton2{
  display: flex;
}
.accountsrow{
  margin-left: 50px;
}

  .hidebutton{
    display: none;
  }
  .expromo{
    margin-left: 30px;
}
.WelcomeleftBox{
  display: none;
}
.WelcomerightBox{
  width: 100%;
}
.linktext{
    font: normal normal normal 18px/20px Lato;
    margin-left: 15px;
    margin-right: 15px;

}
.welcometext{
  font: normal normal normal 25px/22px Lato;

}
 .buttonsexpandblue{
   margin-left:30px;
 }
 .buttonsexpandred{
   margin-left: 30px;
 }
  .line{
    margin-right: 5px;
margin-left: 5px;
  }
  .round{
    display: none;
  }
  .roundsmall{
     display: grid;
  }
  .homelistdivexplore{
     margin-right: 0px;
    margin-left: 0px;
    width: 99%;
    height: auto;
     margin-right: 0px;
    margin-left: 0px;

}
.cardsx{
  width: 94%
}
.cardsxc{
  width: 94%
}
.cardsxd{
  width: 94%
}
  .homelistdiv{
    margin-right: 0px;
    margin-left: 0px;
    width: 99%;
  }
  .thebox{
  width: 100%;
  height: 100%;
  border-radius: 4px;

}
}
