.feedbox{
 width: 99%;
  height: 88vh;
  margin-top: 76px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 6px #00000029;
border: 10px solid #0F81C7;
padding-bottom: 10px;
border-radius: 2px;
opacity: 1;
}
.sbox{
 width: 99%;
 margin-top: 30px;
  overflow: hidden;
}
.feedleftbox{
  width: 100%;
  height:70vh;
  float:left;
  overflow: auto;
  position: relative;

}
.emojibox{
 width: 100%;
 height: 60px;
  overflow: hidden;
}
.emojirow{
  display: flex;
  flex-direction: row;
}
.iconcol{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-self: flex-end;
}
.theemojileftbox{
  width: 90%;
  height:55px;
  float:left;
  display: grid;
  place-items:start;
  position: relative;

}
.theemojirightbox{
  width: 10%;
  height:60px;
  margin-top: 10px;
  float:right;
  position: relative;

}
.feedinputdiv{
  margin-left: 20px;
  width: 90%;
  margin-right: 20px;
}
.pinned{
  text-align:center;
  margin-right: 30px;
font: normal normal normal 25px/30px Lato;
letter-spacing: 0px;
color: #0F81C7;
opacity: 1;
}
.username{
  margin-left: 10px;
font: normal normal normal 20px/22px Lato;
letter-spacing: 0px;
color: black;
opacity: 1;
}
.postext{
  margin-left: 10px;
font: normal normal normal 17px/19px ;
letter-spacing: 0px;
color: black;
opacity: 1;
}
.feedmessagebox{
  width: 90%;
  height:28vh;
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-left:40px;
  flex-direction: column-reverse;
  border: 5px solid #0F81C7;
  border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
}
.liststyle{
  margin-left: 33px;
  overflow: auto;
}
.posttext{
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: left;
font: normal normal normal 13px/14px Arial;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.feedrightbox{
  width: 50%;
  height:55vh;
  float:right;
  position: relative;
  display: flex;
 
}
.feedrightofrightbox{
  width: 100%;
  height:55vh;
  float:right;
  position: relative;
  display: flex;
 
}
.feedround{
  width: 100%;
height: 60px;
display: grid;
  place-items:center;

background: #0F81C7 0% 0% no-repeat padding-box;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;

opacity: 1;
}
.feedheadertext{
    text-align: left;
font: normal normal normal 28px/30px Lato;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.feedhome{
	display:grid;
  overflow: hidden;
	place-items:center;
	background-color: white;
	height: 100vh;
	width: 100%;
}
.plus{
  display: none;
}
.scroll{
  display: flex;
  flex-direction: column;
  height:60%;
  overflow: auto;
}
.postsection{
  display: flex;
  flex-direction: column;
  width:85%;
}
@media only screen and (max-width: 1025px) {
  .feedround{
    display: none;
  }
  .feedmessagebox{
    display: flex;
    margin-left: 20px;
  }
  .feedleftbox{
    margin-top: 30px;
   width: 99%;
   height: 100%;
  position: relative;
   margin-bottom: 30px;
   overflow: auto;
  }
  .liststyle{
    margin-left: 10px;
  }
  .plus{
     height: 50px;
     display: grid;
     place-items:center;
     width: 50px;
     margin-left: 20px;
     border-radius: 80px;
     position: fixed;
     color: white;
     font: normal normal normal 20px/46px Lato;
      background-color: #0F81C7;

  }
  .pinned{
    display: none;
  }
  .feedrightbox{
    display: none;
  }
  .feedbox{
  width: 100%;
  height: 100%;
     overflow: auto;

  border-radius: 4px;

}
}