.feedbox{
 width: 99%;
  height: 88vh;

  margin-top: 76px;
  background: #535353 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 6px #00000029;
border: 10px solid #0F81C7;
padding-bottom: 10px;
border-radius: 2px;
opacity: 1;
}


.comment {
  margin-top: 20px;
  margin-left: 5px;
  padding-bottom: 10px;
  display: flex;
    min-width: 80%;
    max-width: 80%;

  flex-direction:  row;
}

.comment p {
  border-radius: 20px;
  background: #eeeeee;
  margin-left: 10px;
  padding: 15px;
  font-size: 13px;
}

.comment span {
  font-weight: bold;
  margin-right: 6px;
}

.create {
  padding-top: 70px;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 20px;
}
.create__first {
  display: flex;
  padding: 0 20px;
  align-items: center;
}
.create__img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.create__img img {
  width: 100%;
  height: 100%;
}
.create__input {
  margin-left: 20px;
  width:100%;
}
.create__control {
  border: none;
  outline: none;
}
.create__second {
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
}
.create__icons {
  width: 50%;
}
.ic {
  margin: 0 6px;
  font-size: 20px;
  cursor: pointer;
  color: #1da1f2;
}
.create__btn {
  width: 50%;
  text-align: right;
  margin-right: 20px;
}
.create__btn a {
  text-decoration: none;
  background: #1da1f2;
  color: #fff;
  border-radius: 50px;
  outline: none;
  padding: 10px 20px;
}
.sbox{
 width: 99%;
 margin-top: 30px;
  overflow: hidden;
}
.feedleftbox{
  width: 100%;
  height:70vh;
  float:left;
  overflow: auto;
  position: relative;

}
.emojibox{
 width: 100%;
 height: 60px;
  overflow: hidden;
}
.emojirow{
  display: flex;
  flex-direction: row;
}
.iconcol{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-self: flex-end;
}
.theemojileftbox{
  width: 90%;
  height:55px;
  float:left;
  display: grid;
  place-items:start;
  position: relative;

}
.theemojirightbox{
  width: 10%;
  height:60px;
  margin-top: 10px;
  float:right;
  position: relative;

}
.feedinputdiv{
  margin-left: 20px;
  width: 90%;
  margin-right: 20px;
}
.pinned{
  text-align:center;
  margin-right: 30px;
font: normal normal normal 25px/30px Lato;
letter-spacing: 0px;
color: #0F81C7;
opacity: 1;
}
.username{
  margin-top: 1px;
  margin-left: 10px;
font: normal normal normal 20px/22px Lato;
letter-spacing: 0px;
color: black;
opacity: 1;
}
.postext{
  margin-left: 10px;
  margin-top: 3px;
font: normal normal normal 17px/19px ;
letter-spacing: 0px;
color: black;
opacity: 1;
}
.feedmessagebox{
  width: 90%;
  height:28vh;
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-left:40px;
  flex-direction: column-reverse;
  border: 5px solid #0F81C7;
  border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
}
.liststyle{
  margin-left: 33px;
  overflow: auto;
}
.posttext{
  margin-right: 30px;
  margin-top: 11px;
  margin-left: 10px;
  text-align: left;
font: normal normal normal 19px/22px ;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.feedrightbox{
  width: 50%;
  height:55vh;
  float:right;
  position: relative;
  display: flex;
 
}
.feedrightofrightbox{
  width: 100%;
  height:55vh;
  float:right;
  position: relative;
  display: flex;
 
}
.feedround{
  width: 100%;
height: 60px;
display: grid;
  place-items:center;

background: #0F81C7 0% 0% no-repeat padding-box;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;

opacity: 1;
}
.feedheadertext{
    text-align: left;
font: normal normal normal 28px/30px Lato;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.feedhome{
  display:grid;
  overflow: auto;
  background-color: #121212;
  border-left: 2px solid white;
  min-height: 100vh;
  width: 100%;}
.plus{
  display: none;
}
.scroll{
  display: flex;
  flex-direction: column;
  height:60%;
  overflow: auto;
}
.postsection{
  display: flex;
  padding-top: 3px;
  flex-direction: column;
  width:85%;
}
.posts {
  width: 100%;
  overflow-y: hidden;
  margin-left: 25%;
  border-right: 1px solid #e6ecf0;
}
.posts__home {
  width: 50%;
  position: fixed;
  top: 0;
  padding: 15px;
  font-weight: 700;
  border-bottom: 1px solid #e6ecf0;
  font-size: 18px;
  background: #fff;
  border-right: 1px solid #e6ecf0;
}
.create {
  padding-top: 70px;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 20px;
}
.create__first {
  display: flex;
  padding: 0 20px;
  align-items: center;
}
.create__img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.create__img img {
  width: 70%;
  height: 70%;
}
.create__input {
  margin-left: 20px;
}
.create__control {
  border: none;
  outline: none;
}
.create__second {
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
}
.create__icons {
  width: 50%;
}
.ic {
  margin: 0 6px;
  font-size: 20px;
  cursor: pointer;
  color: #1da1f2;
}
.create__btn {
  width: 50%;
  text-align: right;
  margin-right: 20px;
}
.create__btn a {
  text-decoration: none;
  background: #1da1f2;
  color: #fff;
  border-radius: 50px;
  outline: none;
  padding: 10px 20px;
}

.postss {
  padding: 20px;
  border-bottom: 1px solid #e6ecf0;
}
.postss__first {
  display: flex;
  align-items: center;
}
.posts__first__img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.posts__first__img img {
  width: 70%;
  height: 70%;
}
.posts__first__name {
  margin-left: 6px;
}
.posts__first__username {
  margin-left: 6px;
  color: silver;
  font-weight: 300;
}
.posts__first__username span {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
}
.hide{
  display: flex;
}
.verify {
  margin-left: 3px;
  color: #1da1f2;
}
.postss__details {
  margin: 8px 30px;
  overflow: hidden;
}
.postss__details__img {
  width: 70%;
  margin-top: 6px;
}
.postss__details__img img {
  width: 70%;
  border-bottom-right-radius: 20px; 
  border-bottom-left-radius: 20px; 
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 4px;
}
.reactions {
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  align-items: center;
  color: silver;
}
.trends {
  width: 25%;
}

@media only screen and (max-width: 1025px) {
  .feedround{
    display: none;
  }
  .feedmessagebox{
    display: flex;
    margin-left: 20px;
  }
  .feedleftbox{
    margin-top: 30px;
   width: 99%;
   height: 100%;
  position: relative;
   margin-bottom: 30px;
   overflow: auto;
  }
  .liststyle{
    margin-left: 10px;
  }
  .plus{
     height: 50px;
     display: grid;
     place-items:center;
     width: 50px;
     margin-left: 20px;
     border-radius: 80px;
     position: fixed;
     color: white;
     font: normal normal normal 20px/46px Lato;
      background-color: #0F81C7;

  }
  .pinned{
    display: none;
  }
  .feedrightbox{
    display: none;
  }
  .feedbox{
  width: 100%;
  height: 100%;
     overflow: auto;

  border-radius: 4px;

}
}