* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
.tiwtter {
  display: flex;
  

}

.twitter{
  padding-bottom: 2px;
  background-color: #D3D3D3;

}
/*.twitter div{
   color: white;
   background-color: black;
}*/
.hider{
  display: none;
}
.twitter ul li a {
  color: white;
}
.top{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.topbar{
  margin-top: 0px;
    position: fixed;
      z-index:1; /*Add this*/

  height: 30px;
  width: 100%;
}
.bottomnav{
  align-self: flex-end;
  margin-top: 80vh;
  display: none;
  margin-bottom: 0px;
    position: fixed;
      z-index:1; /*Add this*/

  width: 100%;
}
.sidebar {
  width: 25%;
  position: fixed;
  background-color:white;
  padding-top: 20px;
  left: 0;
  margin-top: 60px;
  height: 100%;
}
.sidebar ul {
  list-style-type: none;
}
.sidebar ul li a {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 18px 35px;
  font-weight: 700;
  font-size: 18px;
}
.sidebar ul li a:hover {
  background: #e8f5fe;
  color: #1da1f2;
}

.sidebar2 {
  width: 30%;
  position: fixed;
  background-color:white;
  padding-top: 20px;
  margin-top: 63px;
  left: 0;
  height: 100%;

  border-right: 1px solid #e6ecf0;
}
.sidebar2 ul {
  list-style-type: none;
}
.sidebar2 ul li a {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 18px 35px;
  font-weight: 700;
  font-size: 18px;
}
.sidebar2 ul li a:hover {
  background: #e8f5fe;
  color: #1da1f2;
}

.icons {
  margin-right: 15px;
  font-size: 25px;
}
.logo {
  color: #1da1f2;
}
.sidebar__Btn {
  margin: 15px 0;
}
.sidebar__Btn a {
  text-decoration: none;
  background: #1da1f2;
  color: #fff;
  padding: 13px 35px;
  margin: 0 35px;
  border-radius: 50px;
  outline: none;
  display: block;
  text-align: center;
}

/* Posts style */
.posts {
  width: 50%;
  margin-left: 25%;
  background-color:#D3D3D3;
  overflow-y: hidden;
  padding-top: 80px;
}
.posts__home {
  width: 50%;
  position: fixed;
  top: 0;
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
  background: #fff;
}
.create {
  padding-top: 70px;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 20px;
}
.create__first {
  display: flex;
  padding: 0 20px;
  align-items: center;
}
.create__img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.create__img img {
  width: 100%;
  height: 100%;
}
.create__input {
  margin-left: 20px;
}
.create__control {
  border: none;
  outline: none;
}
.create__second {
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
}
.create__icons {
  width: 50%;
}
.ic {
  margin: 0 6px;
  font-size: 20px;
  cursor: pointer;
  color: #1da1f2;
}
.create__btn {
  width: 50%;
  text-align: right;
  margin-right: 20px;
}
.create__btn a {
  text-decoration: none;
  background: #1da1f2;
  color: #fff;
  border-radius: 50px;
  outline: none;
  padding: 10px 20px;
}

.postss {
  padding: 20px;

}
.postss__first {
  display: flex;
  align-items: center;
}
.posts__first__img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.posts__first__img img {
  width: 100%;
  height: 100%;
}
.posts__first__name {
  margin-left: 6px;
}
.posts__first__username {
  margin-left: 6px;
  color: silver;
  font-weight: 300;
}
.posts__first__username span {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
}
.hide{
  display: flex;
}
.verify {
  margin-left: 3px;
  color: #1da1f2;
}
.postss__details {
  margin: 8px 30px;
  overflow: hidden;
}
.postss__details__img {
  width: 100%;
  margin-top: 6px;
}
.postss__details__img img {
  width: 100%;
}
.hider2{
  display: flex;
}
.reactions {
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  align-items: center;
  color: silver;
}
.imagediv{
  height: 300px;
  position: fixed;
       z-index: 1;

       align-self: center;
  padding-right: 10%px;
  width: 300px;

}
.trends {
  width: 25%;
   position: fixed;
   float: right;
   margin-top: 74px;
  background-color: white;

   z-index: 1;
  padding-left: 10%;   
  right: 0;
  height: 100vh;
}
@media only screen and (max-width: 1200px) {
  .imagediv{
     margin-top: 10%;
     margin-left: -3%;
  }
}
@media only screen and (max-width: 1025px) {
  .trends{
    display: none;
  }
 
  .posts{
    width: 84%;
    margin-left: 14%;
  }
  .hide{
    display: none;
  }
  .sidebar{
    width:10%;
  }
  .posts{
    margin-left: 10%;
  }
  ..sidebar ul li a {
    margin-left: 0px;
}
 .icons {
  margin-right: 1px;
}
.posts__home{
  width: 84%;
}
}
.trends__search {
  position: fixed;
  width: 25%;
  top: 10px;
  right: 0;
  /* border-bottom: 1px solid #e6ecf0; */
  padding-bottom: 20px;
  margin-left: 20px;
}
.trend__control {
  border: none;
  width: 90%;
  margin-left: 20px;
  outline: none;
  background: #f5f4f2;
  border-radius: 50px;
  padding: 15px 40px;
}
.trend__icon {
  position: absolute;
  top: 15px;
  left: 40px;
}
.search {
  font-size: 20px;
  color: silver;
}
.keywords {
  position: fixed;
  top: 80px;
  right: 0;
  width: 25%;
  padding: 20px 20px;
}
.key {
  background: #f5f8fa;
  padding: 15px;
  border-radius: 5px;
}
.keyword__heading {
  font-size: 20px;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 8px;
}
.country {
  font-size: 14px;
  color: silver;
  font-weight: 300;
  margin: 10px 0;
}
.keyword__name {
  margin-bottom: 8px;
}
.keyword__tweets {
  margin-top: 7px;
  color: silver;
  font-size: 14px;
  font-weight: 300;
}
 @media only screen and (max-width: 917px) {
    .bottomnav{
      display: flex;
    }
    .hider{
      display: flex;
    }
    .hider2{
      display: none;
    }
    .sidebar{
    width:0%;
    display: none;
  }
  .posts{
    width: 100%;
    margin-left: 0px;
  }
}