.walletbox{
    width: 99%;
  height: 88vh;
  margin-top: 76px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 6px #00000029;
border: 10px solid #0F81C7;
border-radius: 2px;
overflow: auto;
opacity: 1;
}
.promowname{
  text-align: right;
  margin-left: 35px;
  margin-top: 30px;
font: normal normal normal 20px/25px Lato;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.amount2{
  text-align: right;
  margin-left: 10px;
  margin-top: 30px;
font: normal normal normal 30px/45px Lato;
letter-spacing: 0px;
color: #66ff00;
opacity: 1;
}
.amount{
  text-align: right;
  margin-left: 225px;
  margin-top: 30px;
font: normal normal normal 30px/45px Lato;
letter-spacing: 0px;
color: #66ff00;
opacity: 1;
}

.status{
  text-align: right;
  margin-left: 25px;
  margin-top: 30px;
font: normal normal normal 30px/35px Lato;
letter-spacing: 0px;
color: #66ff00;
opacity: 1;
}

.walletround{
  width: 100%;
height: 35%;
display: flex;
flex-direction: row;
background: #0F81C7 0% 0% no-repeat padding-box;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;

opacity: 1;
}
.walletlistdiv{
  width: 90%;
height: 93px;
display: flex;
margin-right: 50px;
margin-left: 40px;
flex-direction: row;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 4px solid #0F81C7;

border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
opacity: 1;
}
.walletheadertext{
 text-align: left;
font: normal normal normal 91px/109px Lato;
letter-spacing: 0px;
color: #FFFFFF;
  margin-left: 30px;

opacity: 1;
  align-self: center;

}
.columntextfont1{
font: normal normal normal 25px/29px Lato;
letter-spacing: 0px;
color: #FFFFFF;
 margin-top: 50px;
  margin-left: 130px;

opacity: 1;

}
.columntextfont{
font: normal normal normal 25px/29px Lato;
letter-spacing: 0px;
color: #FFFFFF;
 margin-top: 20px;
  margin-left: 130px;

opacity: 1;

}
.columntextfont3{
font: normal normal normal 25px/29px Lato;
letter-spacing: 0px;
color: #FFFFFF;
 margin-top: 20px;
  margin-left: 220px;

opacity: 1;

}
.columntextfont2{
font: normal normal normal 25px/29px Lato;
letter-spacing: 0px;
color: #FFFFFF;
 margin-top: 20px;
  margin-left: 205px;

opacity: 1;

}
.rowtext{
   display: flex;
   flex-direction: row;
}
.columntext{
   display: flex;
   flex-direction: column;
}
.wallethome{
	display:grid;
  overflow: hidden;
	place-items:center;
	background-color: white;
	height: 100vh;
	width: 100%;
}
@media only screen and (max-width: 1025px) {
  .amount{
font: normal normal normal 25px/30px Lato;
  margin-left: 35px;


  }
    .amount2{
font: normal normal normal 25px/30px Lato;
  margin-left: 5px;


  }

  .walletheadertext{
    font: normal normal normal 28px/29px Lato;

  }
  .columntextfont{
        font: normal normal normal 18px/19px Lato;
       margin-left: 15px;

   }
   .columntextfont1{
        font: normal normal normal 18px/19px Lato;
       margin-left: 15px;
 margin-top: 90px;

   } 
   .columntextfont2{
        font: normal normal normal 18px/19px Lato;
       margin-left: 15px;

   }
    .columntextfont3{
        font: normal normal normal 18px/19px Lato;
       margin-left: 15px;

   } 
  .walletlistdiv{
    margin-right: 0px;
    margin-left: 0px;
    width: 99%;
  }
  .walletbox{
  width: 100%;
  height: 100%;
  border-radius: 4px;

}
}